/* default styling */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: black;
}
body,
html {
  max-height: 100vh;
  font-family: 'Times New Roman', Times, serif;
}
/* index page style */
#intro {
  background-image: url('../../img/profile_img.jpg');
  display: block;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.cover_all {
  position: relative;
}
/* pages header section styles */
.wrapper {
  position: relative;
  top: 20vh;
}
.head-wrap {
  position: fixed;
  width: 13vw;
  height: 80vh;
  margin-left: 50px;
  background-color: rgba(255, 255, 255, 0.97);
  z-index: 3;
}

/* navigation bar styles */
nav ul {
  height: 42vh;
}
nav ul li {
  display: block;
  line-height: 0.25em !important;
  text-decoration: none;
}
nav ul li a {
  color: rgb(0, 0, 0) !important;
  font-size: 0.8em;
  font-style: normal;
  font-weight: normal;
}

.navbar,
.navbar ul {
  display: block !important;
}
.navbar-expand-md .navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
}
.bg-light {
  background-color: transparent !important;
}
#owner {
  margin-top: 30px;
  opacity: 0.4;
  font-size: smaller;
}

/* brand logo style */
.logo {
  text-transform: uppercase;
  margin-bottom: 20px;
}
.logo a {
  font-size: 1.8em;
  color: black;
  font-family: 'Times New Roman', Times, serif;
}
.logo a:hover {
  text-decoration: none;
}

/* social links styling */
.social-links {
  margin-top: auto;
  width: 100%;
  z-index: 4;
  padding: 0.5rem 1rem;
  font-size: larger;
}
.social-links .dropup .dropdown-toggle::after {
  display: none;
}

.social-links ul li {
  list-style: none;
  display: inline;
}
.social-links ul li a {
  text-decoration: none;
  color: white;
}
.social-links .dropdown-menu {
  margin-left: -3.5rem;
  margin-bottom: 1.2rem;
  position: relative;
}
.custom_drop a {
  display: grid;
  grid-template-columns: 1fr 3fr;
  border-bottom: 1px rgb(226, 226, 226) solid;
  align-items: baseline;
  margin-bottom: 10px;
}
.custom_drop a:hover {
  opacity: 0.6;
  cursor: pointer;
}
.social-links .dropdown-menu::before {
  position: absolute;
  content: '';
  bottom: -0.65rem;
  left: 50%;
  height: 20px;
  width: 20px;
  transform: translateX(-50%) rotate(45deg);
  background-color: white;
  border-bottom: 1px rgb(221, 221, 221) solid;
  border-right: 1px rgb(221, 221, 221) solid;
}
.links {
  margin-left: 5%;
}
.hidden {
  display: none;
}
.hidden div {
  margin-right: 5px;
}
.share_btn {
  color: #ffffff;
  background: #000000;
  margin: 3px 3px 4px 0;
  padding: 4px 11px;
  position: relative;
  font-size: 14px;
  font-weight: bold;
  line-height: 1em;
  letter-spacing: 0.04em;
  top: -3px;
  text-decoration: none;
  border-radius: 16px;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  filter: alpha(opacity=60);
  opacity: 0.6;
  transition: opacity 0.3s ease;
  font-family: arial;
  font-size: 11px;
}
.share_btn:active,
.share_btn:hover {
  background: black !important;
  filter: unset;
  opacity: 1;
  transition: unset;
  color: white;
}

/* styling slide section */
.content-section {
  position: absolute;
  z-index: 1;
}
.body-wrap {
  position: relative;
  height: 500px;
}
.slider {
  height: 100%;
  width: 10500px;
  margin-left: 18vw;
  display: inline-block;
}
.slider img,
.frame_img {
  width: 700px;
  height: 550px;
  float: left;
  padding: 1px;
}

/* sites page style */
#carousel_style {
  width: 95%;
  box-shadow: inset 4px 4px 5px 10px rgb(31, 31, 32);
  margin-top: 30px;
}
#sites {
  margin-left: 23vw;
}
.title {
  position: relative;
  border-bottom: 2px solid grey;
  margin: 0 auto;
  margin-top: 20px;
  width: fit-content;
}
.title h2 {
  font-family: 'Roboto Slab', serif;
  font-size: 2em;
  margin-bottom: 20px;
}
.carousel-caption {
  position: fixed !important;
}
.carousel-caption h4 {
  color: black;
  margin: 0 auto;
  text-align: center;
}
.carousel-caption p {
  color: black;
  margin: 0 auto;
  text-align: center;
}

/* contact style */
#news {
  margin-left: 23vw;
}
.preview img {
  width: 60vw;
  max-height: 55vh;
  margin-top: 21vh;
}
.article-text h2,
.article-text p {
  text-align: center;
}
.article-text h2 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.6em;
  font-weight: 600;
}
.article-text p {
  margin-bottom: 1em;
  line-height: 170%;
  word-wrap: break-word;
  font-family: 'Times New Roman', Times, serif;
  font-size: 0.9em;
}
.break {
  max-width: 20rem;
  border-bottom: 1px solid rgb(114, 112, 112);
  box-shadow: 0 0.1px 0.4px black;
  margin: 0 auto;
  margin-top: 60px;
}
.form_block {
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 150px;
  max-width: 600px;
  padding-bottom: 2rem;
}
.form_block .btn-primary {
  background-color: white;
  color: black;
  margin-top: 0.5rem;
  border-radius: 2px;
  border: 1px solid rgb(151, 151, 151);
}
.form_block .btn-primary:active {
  background-color: white;
  outline: none;
}
.form_block input,
.form_block textarea {
  width: 100%;
  padding: 0.8rem;
}
.form_block input,
.form_block textarea:focus {
  outline: none;
}
.form_block input[type='text'],
.form_block input[type='email'] {
  border: 1px solid rgb(151, 151, 151);
  border-bottom: none;
}

/* blog style */
.spc div {
  padding: 10px;
  margin-bottom: 40px;
}
#blog {
  max-width: 780px;
}
#blog h4 {
  font-size: large;
}
#blog .bg_txt {
  font-size: smaller;
}
time {
  opacity: 0.5;
  font-size: small;
}
.spc h3 {
  font-size: 1.53em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.spc p {
  font-size: 1em;
  font-family: 'Times New Roman', Times, serif;
}
.ttl h1 {
  font-family: 'Roboto Slab' serif;
  padding: 30px;
  padding-left: 0;
}
.line {
  width: 100%;
  margin: 20px;
  border-bottom: 1px solid gey;
}
