/* default styling */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: black;
}

/* index page style */
#intro{
    background-image: url("../../img/profile_img.jpg");
    display: block;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.cover_all{
    position: relative;
}
/* pages header section styles */
.wrapper{
    position: relative;
    top: 20vh;
}
.head-wrap{
    position: fixed;
    width: 12vw;
    height: 70vh;
    margin-left: 10px;
    background-color: rgba(255,255,255,0.95);
    z-index: 3;
}

/* navigation bar styles */
nav ul li{
    display: block;
    line-height: .2em !important;
    text-decoration: none;
}
nav ul li a{
    color: rgb(0, 0, 0) !important;
    font-family: 'Roboto Slab', serif;
    font-size: .75em;
    font-style: normal;
    font-weight: normal;

}

.navbar, .navbar ul{
    display: block !important;
}
.navbar-expand-md .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
}
.bg-light{
    background-color:transparent !important;
}
#owner{
    margin-top: 30px;
    opacity: 0.4;
    font-size: smaller;
}



/* brand logo style */
.logo{  
    text-transform: uppercase;
    margin-bottom: 20px;
}
.logo a{
    font-size: 1.8em;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}
.logo a:hover{
    text-decoration: none;
}

/* social links styling */
.social-links{
    position: absolute;
    bottom: 15.5%;
    width: 100%;
    z-index: 4;
    padding: .5rem 1rem;
}
.social-links ul li{
    list-style: none;
    display: inline;
}
.links{
    margin-left: 5%;
}
.hidden{
    display: none;
}
.hidden div{
    margin-right: 5px;
}

/* styling slide section */
.content-section{
    position: absolute;
    z-index: 1;
}
.body-wrap{
    position: relative;
    height: 500px;
}
.slider{
    height: 100%;
    width: 10500px;
    margin-left: 13vw;
}
.slider img, .frame_img{
    width: 700px;
    height: 550px;
    float: left;   
    padding: 1px;
}








/* sites page style */
#carousel_style{
    width: 95%;
    box-shadow: 1px 1px 5px 2px rgb(31, 31, 32);
    margin-top: 30px;
}
.title{
    position: relative;
    border-bottom: 2px solid grey;
    margin: 0 auto;
    margin-top: 20px;
    width: fit-content;
}
.title h2{
    font-family: 'Roboto Slab', serif;
    font-size: 2em;
    margin-bottom: 20px;

}
.carousel-caption{
    position: fixed !important;
}
.carousel-caption h4{
    color: black;
    margin: 0 auto;
    text-align: center;
}
.carousel-caption p{
    color: black;
    margin: 0 auto;
    text-align: center;
}








/* contact style */

.preview img {
    padding-top: 20px;
    width: 60vw;
    max-height: 55vh;
    margin: 20% 0 5% 0;
}
.article-text h2,
.article-text p{
    text-align: center;
}
.article-text h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.6em;
    font-weight: 600;
}
.article-text p{
    margin-bottom: 1em;
    line-height: 170%;
    word-wrap: break-word;
    font-family: 'Times New Roman', Times, serif;
    font-size: .9em;
}
.break{
    max-width: 25rem;
    border-bottom: 2px solid rgb(151, 151, 151);
    box-shadow: 0 .1px .4px black;
    margin: 0 auto;
    margin-top: 100px;
}
.form_block{
    margin: 0 auto;
    margin-top: 150px;
    margin-bottom: 150px;
    max-width: 500px;

}








/* blog style */
.spc div{
    padding: 10px;
    margin-bottom: 40px;
}
time{
    opacity: .5;
    font-size: small;
}
.spc h3{
    font-size: 1.53em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.spc p{
    font-size: 1em;
    font-family: 'Times New Roman', Times, serif;
}
.ttl h1{
    font-family: 'Roboto Slab' serif;
    padding: 30px;
    padding-left: 0;

}
.blogs{
    margin-left: 40px;
}
.line{
    width: 100%;
    margin: 20px ;
    border-bottom: 1px solid gey;
}
