@media screen and (max-width: 768px) {
  .head-wrap {
    position: fixed;
    display: block;
    width: 100vw;
    height: 10vh;
    top: 0;
    height: 10vh;
    margin-left: unset;
    background-color: unset;
  }
  nav ul {
    height: 90vh;
  }
  nav ul li {
    text-align: center;
    margin: 1rem 0;
    font-size: larger;
  }
  .bg-light {
    background-color: rgb(255, 255, 255) !important;
  }
  .nav ul li a {
    font-size: 1em;
  }
  .content-section {
    margin-top: 20vh;
    height: 80vh;
  }
  .hold {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .social-links {
    display: none;
  }
  .hidden {
    display: flex;
    justify-content: center;
    font-size: x-large;
  }

  .wrapper {
    position: unset;
    top: unset;
  }
  .body-wrap {
    position: relative;
    /* height: 500px; */
  }
  .slider {
    height: 100%;
    width: 100%;
    margin: unset;
  }
  .slider img {
    width: 200%;
    height: 78vh;
    padding: unset;
    padding: 4px;
  }
  .slider .images {
    overflow-x: scroll;
    display: flex;
  }
  #news {
    margin-top: 30%;
    margin-left: unset;
    font-size: 1rem;
  }
  .preview img {
    width: 90vw;
    max-height: 60vh;
    margin-top: 1rem;
  }
  .sites {
    margin-top: 50%;
    font-size: small;
  }
  #sites {
    margin-top: 20vh;
    margin-left: 0;
  }
  .form_block {
    max-width: 90vw;
    padding-bottom: 1rem;
  }
  .img_hide {
    display: none;
  }
  .spc div {
    padding: 10px;
    margin-bottom: 0;
    font-size: small;
  }
  .spc h4 {
    font-size: large;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  body {
    font-size: 1.2em !important;
  }
  .head-wrap {
    font-size: small;
    top: 10vh;
    height: 80vh;
    width: 180px;
  }
  nav ul {
    height: 32vh;
  }
  .nav.nav-link-link {
    display: block;
    padding: unset;
  }
  .social-links {
    bottom: 28%;
  }
  .slider {
    margin-left: 28vw;
  }
  .slider img {
    width: 550px;
    height: 500px;
  }
  .wrapper {
    position: relative;
    top: 20vh;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1281px) {
  .head-wrap {
    position: fixed;
  }
  .news {
    margin-left: 25%;
    max-width: 75%;
  }
  .head-wrap {
    position: fixed;
    width: 25vw !important;
  }
  body {
    font-size: 1.2em !important;
  }
  .nav.nav-link-link {
    display: block;
    padding: unset;
  }
  .social-links {
    bottom: 36%;
  }
  .slider {
    margin-left: 28vw;
  }
  .slider img {
    width: 550px;
    height: 500px;
  }
}
